<app-make-post></app-make-post>

<p> In profile</p>
<div class="container" *ngFor = "let post of profileService.posts; let in = index">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="panel-google-plus-tags" >
                    <ul>
                        <li id = "ratio--{{in}}" >{{profileService.posts[in].ratio}}</li>
                        <li>#Test</li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <img class="[ img-circle pull-left ]" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" />
                    <h3>{{post.author.firstName}} {{post.author.lastName}}</h3>
                    <h5><span>Shared publicly</span> - <span>{{post.submitted | date:'M/d/yy, h:mm a'}}</span> </h5>
                </div>
                <div class="panel-body">
                    <p>{{post.content}}</p>
                </div>
            </div>
        </div>
        
        
    </div>
</div>