<div class="container">
  <div class = "row">
    <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
        <div class="[ panel panel-default ] panel-google-plus">
        <div class="panel-footer" *ngIf= "(comment == null) || comment">
            <div class="input-placeholder" (click) = 'addComment()'>What is on your mind?</div>
        </div>
        <div class="panel-google-plus-comment" *ngIf ="hidden" >
            <div class="panel-google-plus-textarea">
                <textarea id="person-status" rows="4" [(ngModel)]="postContent"></textarea>
                <button type="submit" class="[ btn btn-success enabled ]" (click) = 'makepost()'>Post Status</button>
                <button type="reset" class="[ btn btn-default ]" (click) = 'cancelComment()'>Cancel</button>
            </div>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>