<head>
  <title>Log-in</title>
</head>
<body>
  <div class="login-card">
    <h1>Log-in</h1><br>
  
    <input [(ngModel)]="username" type="text" name="username" placeholder="Username">
    <input [(ngModel)]="password" type="password" name="password" placeholder="Password">
    <button (click)="login()" class="login login-submit" >Login</button>

  <div class="login-help">
    <br>
    <a href="signup">Sign Up</a>
  </div>
</div>
</body>
