<h2>Pending Friend Requests</h2>
<ul>
  <li *ngFor="let request of friendRequestService.friendRequests">
    <span>{{request.senderWhole.firstName}}</span>
    <button (click)='approveRequest(request.sender)' routerLink='/requests'>Accept</button>
    <button (click)='denyRequest(request.sender)' routerLink='/requests'>Deny</button>
  </li>
</ul>