<form action="/action_page.php">
	<div class="container">
	  <h1>Register</h1>
	  <p>Please fill in this form to create an account.</p>
	  <hr>
  
	  <label for="first-name"><b>First Name</b></label>
	  <input    [(ngModel)]="firstName" type="text" placeholder="First Name" name="first-name" required>

	  <label for="last-name"><b>Last Name</b></label>
	  <input  [(ngModel)]="lastName"type="text" placeholder="Last Name" name="last-name" required>
  
	  <label for="email"><b>Email</b></label>
	  <input [(ngModel)]="email" type="text" placeholder="Enter Email" name="email" required>

	  <label for="username"><b>Username</b></label>
	  <input [(ngModel)]="username" type="text" placeholder="Username" name="username" required>
  
	  <label for="psw"><b>Password</b></label>
	  <input [(ngModel)]="password" type="password" placeholder="Enter Password" name="psw" required>
  
	  
	
	  <hr>
	  <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
  
	  <button (click)="signup()" type="submit" class="registerbtn">Register</button>
	</div>
	
	<div class="container signin">
	  <p>Already have an account? <a href="#">Sign in</a>.</p>
	</div>
  </form>