<section>
  <h2>Search Results</h2>
  <ul>
    <li *ngFor="let user of searchService.searchResults">
      <a (click) = "friendWall(user.id)" >{{user.username}}</a>
      <span>{{user.firstName}} {{user.lastName}}</span>
      <button (click)="addFriend(user.id)" routerLink="/search">Add Friend</button>
    </li>
  </ul>
</section>