<app-make-post></app-make-post>
<div class="container" *ngFor = "let post of publicService.posts; let in = index">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="panel-google-plus-tags" *ngFor = "let post of publicService.posts">
                    <ul>
                        <li id = "ratio--{{in}}" >{{publicService.posts[in].ratio}}</li>
                        <li>#Test</li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <img class="[ img-circle pull-left ]" src="https://lh3.googleusercontent.com/-CxXg7_7ylq4/AAAAAAAAAAI/AAAAAAAAAQ8/LhCIKQC5Aq4/s46-c-k-no/photo.jpg" alt="Mouse0270" />
                    <h3>{{post.author.firstName}} {{post.author.lastName}}</h3>
                    <h5><span>Shared publicly</span> - <span>{{post.submitted | date:'M/d/yy, h:mm a'}}</span> </h5>
                </div>
                <div class="panel-body">
                    <p>{{post.content}}</p>
                </div>
                <div class="panel-footer">
                    <button type="button" class="[ btn btn-default ]" (click) = 'upVote(post)'  [disabled]="hidebutton[in]" (click)="follow(in)">+1</button>
                    <button type="button" class="[ btn btn-default ]" (click) = 'downVote(post)'  [disabled]="hidebuttondislike[in]" (click)="followDislike(in)">
                        -1
                    </button>
                    <button type="button" class="[ btn btn-default ]" (click) = 'viewReplies(post)' >
                    View Reply
                    </button>
                    <div class="input-placeholder"  *ngIf= "(comment[in] == null) || comment[in]" (click) = 'addComment(in)'>Add a comment...</div>
                </div>
                <div class="panel-google-plus-comment" *ngIf ="hidden[in]" >
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                    <div class="panel-google-plus-textarea">
                        <textarea rows="4" [(ngModel)]='messageReply'></textarea>
                        <button type="submit" class="[ btn btn-success ]" (click) = 'myReply(post, in)'>Post comment</button>
                        <button type="reset" class="[ btn btn-default ]" (click) = 'cancelComment(in)'>Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>